
* {
    margin: 0.5rem;
    padding: 0.3rem;
    background-color: rgb(235, 226, 212);
    text-decoration: none;
}

nav {
    position:fixed;
    top: 0;
    right: 0;
}

/*sticky nav bar*/
.sticky {
    position: fixed;
     top: 0;
     width: 100%;
 }

nav li {
    display: inline-block;
}
/*style the navigation links*/
nav a {
    background: linear-gradient(blue, green, blue);
    display: block;
    padding: 10px 10px;
    text-decoration: none;
    color: yellow; 
}

body {
    color:rgb(4, 3, 4);
    font-family:Georgia, 'Times New Roman', Times, serif;
}

li {
    list-style: none;
}
.img_div {
    display: flex;
    align-items: center;
    width: 10rem;
}
h1, h2, h3 {
    color: rgb(6, 6, 7);
    font-size: medium;
}


p {
    color:rgb(13, 20, 223);
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    background-color:beige;    
}

.experience-container {
    border: 2px solid blue;
    border-radius: 10rem;
    padding: 0.40rem 0.75rem;
    margin: 0.5rem;
    display: inline-block;
}

   
#skills li {
    border: 2px solid blue;
    border-radius: 10rem;
    padding: 0.40rem 0.75rem;
    margin: 0.5rem;
    display: inline-block;  
}
/* Project section written by AJAX/JSON/FETCH */
 #projects li {
    list-style-type:none;
     margin-left: 0.5em;
     font-style: italic;
      
 }

 
#form label {
    color:blue;
    font-size: 1rem;
}
#form input, textarea {
    font-size: small;
    padding: 0.5rem;
    border: 0.2rem solid green;
    border-radius: 0.5rem;
    margin: 0.5rem;
}

button {
    padding: 0.5rem;
    background-color:antiquewhite;
    color: blue;
    border: 5px solid green;
    border-radius: 5px;
    margin: 0.5rem;
}

#messages li {
    border: 2px solid blue;
    border-radius: 5rem;
    padding: 0.40rem 0.75rem;
    margin: 0.5rem;
    display: inline-block;  
}

.form-container {
   display: flex;
   justify-content: flex-start;

}
#form {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
}



/* mobile styles (above to 900px)*/
@media screen and (max-width: 496px){
    
    }

/* tablets styles */
@media screen (min-width: 497px) and (max-width: 1200px){
    
}

/* dekstop styles (above 900px)*/
@media (min-width: 900px){   
}


/*(min-width: 1025px) {
    .container p {
        padding-left: 2%;
    }
    .container {
        width: 80%;
        font-size: 16px;
         padding-left: 2em;
         padding-left: 2em; 
     }*\